@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(94 55 49);
}
body {
    display:  flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background: url(../public/background.jpg);
    background-size: cover;
    font-family: 'Rubik Moonrocks', cursive;
}
.game{
    display:  flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    padding-top: 20vh;
}
.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.rooms button{
    width: 200px;
}
.enter-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.row{
    display: flex;
    gap: 10px;
}
.rooms {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
input {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid gray;
    background-color: transparent;
}
button{
  padding: 10px;
  background-color:#f3e7d0 ;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
button:hover{
  filter: brightness(80%);
}
.game * {
    text-align: center;
}
p {
    margin-top: 10px;
}
.row {
    display: flex;
    height: 33.3%;
}
.game-container {
    display: flex;
    flex-direction: column;
    width: 27vw;
    background: linear-gradient(90deg,rgb(68, 68, 255),rgb(46, 161, 46));
    opacity: 0.7;
    height: 40vh;
    border: 4px solid rgb(104, 177, 143) ;
}
.box {
    width: 33.3%;
    border: 4px solid rgb(104, 177, 143);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .box-text {
    font-size:50px
} 
.history-container{
    width: 30vw;
    height: 40vh;
    overflow-y: scroll;
    background-color: rgb(104, 177, 143);
}
.history-card {
    height: 33.3%;
    width: 100%;
   border:10px solid rgb(104, 177, 143);
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #f3e7d0;
}
.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 65%;
    gap: 5%;
}
@media only screen and (max-width:700px) {
    .game-container {
       width: 80%;    
    }

}
@media only screen and (max-width:480px) {
    .game {
        padding-top: 5vh;
    }
    .outer-container{
        width: 90vw;
        flex-direction: column;
        order: 4;
    }
    .game-container {
       width: 90%;    
    }
    .history-container {
       width: 90%;
       margin-top: 20px;
       margin-bottom: 20px;
    }
}