@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.game {
    display:  flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: flex-start;
    background: url(../public/2108.w026.n002.770B.p1.770.jpg);
    background-size: cover;
    font-family: 'Rubik Moonrocks', cursive;
    color: rgb(0, 94, 89);
    padding-top: 20vh;
}
.game * {
    text-align: center;
}
p {
    margin-top: 10px;
}
.row {
    display: flex;
    height: 33.3%;
}
.game-container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    background: linear-gradient(90deg,rgb(68, 68, 255),rgb(46, 161, 46));
    opacity: 0.7;
    height: 40vh;
}
.box {
    width: 33.3%;
    border: 1px solid blue ;
    color: black;
    cursor: pointer;
    text-align: center;
    font-size: 50px;
}
.history-container{
    width: 30vw;
    height: 40vh;
    border: 2px solid red;
    overflow: scroll;
}
.history-card {
    height: 33.3%;
    width: 100%;
   border:2px solid red;
   cursor: pointer;
}
.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 65%;
    gap: 5%;
}